---
import Layout from "../layouts/Layout.astro";
import App from "../components/App.svelte";
---

<Layout title="Chat with your pdf">
  <div
    class="absolute top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]"
  >
  </div>
  <main class="grid place-content-center
   min-h-[70vh]
    w-screen">
    <h1 class="text-5xl opacity-70 font-bold text-center pb-10">
      Chat with your pdf
    </h1>

    <section class="container w-full max-w-xl h-64">
      <App client:idle />
    </section>
  </main>
</Layout>

<style></style>
